{% extends 'base_home.html' %} {% load static %} {% load django_bootstrap5 %} {% load bootstrap_icons %}
{% block content %}


{% comment %}
<!-- Icons Grid-->
<section class="features-icons text-center grid">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"> <img src="{% static 'img/icono_ia.png' %}" class="d-block w-100"/></div>
                    <h3>Inteligencia Artificial</h3>
                    <p class="lead mb-0">Aplicaciones innovadoras en el mundo moderno y su impacto en diversas industrias.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><img src="{% static 'img/icono_shield.png' %}" class="d-block w-100" /></div>
                    <h3>Ciberseguridad</h3>
                    <p class="lead mb-0">Protección de datos sensibles, marcos legales y técnicas de hacking ético.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><img src="{% static 'img/icono_isi.png' %}" class="d-block w-100" /></div>
                    <h3>Ingeniería y Educación Integral</h3>
                    <p class="lead mb-0">Enfoque en la educación integral en sistemas de información para estudiantes y jóvenes profesionales.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endcomment %}
<section class="showcase">

    <div class="header-image-container">
        <img src="{% static 'img/ejes.jpg' %}" alt="Header Image" class="header-image">
    </div>
</section>
<section class="showcase">
    <div class="header-image-container">
        <img src="{% static 'img/actividades.jpg' %}" alt="Header Image" class="header-image">
    </div>
</section>
{% comment %}
<section class="showcase">
    <div class="header-image-container">
        <img src="{% static 'img/cronograma.jpg' %}" alt="Header Image" class="header-image">
    </div>
</section>


    
    
<!-- Testimonials-->
<section class="testimonials text-center  div_right">
    <div class="container">
        <h2 class="mb-5">Nos esponsorean</h2>
        <div id="sponsorsCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active"data-bs-interval="1000">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <img class="img-fluid rounded-circle mb-3" src="https://placehold.co/150" alt="Sponsor 1" />
                                <h5>Sponsor 1</h5>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <img class="img-fluid rounded-circle mb-3" src="https://placehold.co/150" alt="Sponsor 2" />
                                <h5>Sponsor 2</h5>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <img class="img-fluid rounded-circle mb-3" src="https://placehold.co/150" alt="Sponsor 3" />
                                <h5>Sponsor 3</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <img class="img-fluid rounded-circle mb-3" src="https://placehold.co/150" alt="Sponsor 4" />
                                <h5>Sponsor 4</h5>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <img class="img-fluid rounded-circle mb-3" src="https://placehold.co/150" alt="Sponsor 5" />
                                <h5>Sponsor 5</h5>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <img class="img-fluid rounded-circle mb-3" src="https://placehold.co/150" alt="Sponsor 6" />
                                <h5>Sponsor 6</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <img class="img-fluid rounded-circle mb-3" src="https://placehold.co/150" alt="Sponsor 7" />
                                <h5>Sponsor 7</h5>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <img class="img-fluid rounded-circle mb-3" src="https://placehold.co/150" alt="Sponsor 8" />
                                <h5>Sponsor 8</h5>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Vacío para mantener el diseño, si necesitas más patrocinadores, agrégales aquí -->
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#sponsorsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#sponsorsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
{% endcomment %}


<!-- Footer -->
<footer class="py-4 bg-dark text-white text-center" style="background: linear-gradient(to right, #304355, #3497da)">
  <p>
    &copy; 2024 Congreso Nacional de Estudiantes de Ingeniería en Sistemas de Información. Todos los derechos reservados.
  </p>
</footer>
{% endblock %}
