/.venv
active/*
src/cneisi/__pycache__/*
src/core/__pycache__/*
src/core/migrations/__pycache__/*
src/db.sqlite3
/src/public
/startbootstrap-landing-page-gh-pages
startbootstrap-landing-page-gh-pages.zip
CNEISI 2024 BROCHURE.pdf
Imagen de WhatsApp 2024-09-09 a las 15.56.53_43de58ab.jpg
Imagen de WhatsApp 2024-09-09 a las 14.09.11_3ee06554.jpg
Imagen de WhatsApp 2024-09-09 a las 16.02.42_aed13680.jpg
Imagen de WhatsApp 2024-09-09 a las 16.07.30_efc287e8.jpg
Imagen de WhatsApp 2024-09-09 a las 16.11.32_bff64376.jpg
Imagen de WhatsApp 2024-09-09 a las 16.59.39_b51d4111.jpg
src/.env
