{% load static %}
<!-- Static navbar -->
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#">
            <img src="{% static 'landing/img/logo_frlp_b.png' %}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Trabajos</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="{% url 'trabajos_ejes' %}">Eje Tematicos</a></li>
                        <li><a class="dropdown-item" href="#">Fechas Importantes</a></li>
                        <li><a class="dropdown-item" href="#">Envio de Trabajos</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Inscripcion</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Conferencias</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Evento</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="#">Cronograma General</a></li>
                        <li><a class="dropdown-item" href="#">Cronograma de Actividades</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Certificados</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Circulares</a></li>
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'perfil_home' %}">Administracion</a></li>
                <li class="nav-item"><a class="nav-link" href="#" onclick="document.getElementById('logout-form').submit(); return false;">Salir</a>
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">{% csrf_token %}</form>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Entrar</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>