{% extends 'base_home.html' %} {% load static %} {% load django_bootstrap5 %} {% load bootstrap_icons %}
{% block content %}


    <div class="image-container div_left">
        <img src="{% static 'img/header/fondo.png' %}" class="header-image">
        <img src="{% static 'img/header/superior.png' %}" alt="Image 1" class="image image-fecha">
        <img src="{% static 'img/header/impacto.png' %}" alt="Image 2" class="image image-impacto">
        <img src="{% static 'img/header/logo.png' %}" alt="Image 3" class="image image-logo">
        <img src="{% static 'img/header/inferior.png' %}" alt="Image 4" class="image image-slogan">
    </div>

<section class="showcase div_left_1">
    <div class="image-container">
        <img src="{% static 'img/header/fondo.png' %}" class="header-image">
        <img src="{% static 'img/ejes/titulo_sup.png' %}"   class="image image-titulo_sup">
        <img src="{% static 'img/ejes/titulo_med.png' %}"   class="image image-titulo_med">
        <img src="{% static 'img/ejes/titulo_inf.png' %}"   class="image image-titulo_inf">
        <img src="{% static 'img/ejes/ejes_titulo.png' %}"  class="image image-ejes_titulo">
        <img src="{% static 'img/ejes/eje_linea.png' %}"    class="image image-eje_linea">
        <img src="{% static 'img/ejes/eje_img.png' %}"      class="image image-eje_img">
        <img src="{% static 'img/ejes/eje_footer.png' %}"   class="image image-eje_footer">
        <img src="{% static 'img/ejes/img_sup.png' %}"      class="image image-img_sup">
        <img src="{% static 'img/ejes/img_inf.png' %}"      class="image image-img_inf">
    </div>
</section>
<section class="showcase div_left_2">
    <div class="image-container">
        <img src="{% static 'img/header/fondo.png' %}" class="header-image">
        <img src="{% static 'img/actividades/activi_1.png' %}"      class="image image-activi_1">
        <img src="{% static 'img/actividades/activi_2.png' %}"      class="image image-activi_2">
        <img src="{% static 'img/actividades/activi_3.png' %}"      class="image image-activi_3">
        <img src="{% static 'img/actividades/activi_4.png' %}"      class="image image-activi_4">
        <img src="{% static 'img/actividades/activi_5.png' %}"      class="image image-activi_5">
        <img src="{% static 'img/actividades/activi_6.png' %}"      class="image image-activi_6">
        <img src="{% static 'img/actividades/actividades.png' %}"   class="image image-actividades">
        <img src="{% static 'img/actividades/inf_img.png' %}"       class="image image-inf_img">
        <img src="{% static 'img/actividades/sup_img.png' %}"       class="image image-sup_img">
    </div>
</section>
<section class="showcase div_left_1 animate3">
    <div class="header-image-container">
        <img src="{% static 'img/header/fondo.png' %}" class="header-image">
        <img src="{% static 'img/cronograma/img_dom.png' %}"  class="image image-img_dom">
        <img src="{% static 'img/cronograma/img_sab.png' %}"  class="image image-img_sab">
        <img src="{% static 'img/cronograma/img_vie.png' %}"  class="image image-img_vie">
        <img src="{% static 'img/cronograma/img_11.png' %}"   class="image image-img_11">
        <img src="{% static 'img/cronograma/img_12.png' %}"   class="image image-img_12">
        <img src="{% static 'img/cronograma/img_13.png' %}"   class="image image-img_13">
        <img src="{% static 'img/cronograma/img_14.png' %}"   class="image image-img_14">
        <img src="{% static 'img/cronograma/img_21.png' %}"   class="image image-img_21">
        <img src="{% static 'img/cronograma/img_22.png' %}"   class="image image-img_22">
        <img src="{% static 'img/cronograma/img_31.png' %}"   class="image image-img_31">
        <img src="{% static 'img/cronograma/img_32.png' %}"   class="image image-img_32">
        <img src="{% static 'img/cronograma/img_33.png' %}"   class="image image-img_33">
        <img src="{% static 'img/cronograma/num_dom.png' %}"  class="image image-num_dom">
        <img src="{% static 'img/cronograma/num_sab.png' %}"  class="image image-num_sab">
        <img src="{% static 'img/cronograma/num_vie.png' %}"  class="image image-num_vie">
        <img src="{% static 'img/cronograma/titulo.png' %}"   class="image image-titulo">
    </div>
</section>

<!-- Footer -->
<footer class="py-4 bg-dark text-white text-center" style="background: linear-gradient(to right, #304355, #3497da)">
  <p>
    &copy; 2024 Congreso Nacional de Estudiantes de Ingeniería en Sistemas de Información. Todos los derechos reservados.
  </p>
</footer>
{% endblock %}

{% block content_js %}
    <script>
        // Cambia el fondo del navbar cuando se hace scroll
        window.addEventListener('scroll', function() {
            if (window.scrollY > 50) { // Si se desplaza más de 50px
                document.body.classList.add('scrolled');
            } else {
                document.body.classList.remove('scrolled');
            }
        });

        document.addEventListener('DOMContentLoaded', () => {
            // Animación para el primer div
            const firstDivImages = document.querySelectorAll('.div_left .image');
            firstDivImages.forEach(image => image.classList.add('active'));

            // Animación para la sección cuando esté al 80% visible
            const section = document.querySelector('.showcase');
            const sectionImages = section.querySelectorAll('.image');

            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                  if (entry.isIntersecting) {
                    sectionImages.forEach(image => image.classList.add('active'));
                  }
                });
            }, {
                threshold: 0.2 // 80% de la sección visible
            });
            observer.observe(section);

            // Animación para la sección cuando esté al 80% visible
            const section2 = document.querySelector('.div_left_2');
            const sectionImages2 = section2.querySelectorAll('.image');

            const observer2 = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                  if (entry.isIntersecting) {
                    sectionImages2.forEach(image => image.classList.add('active'));
                  }
                });
            }, {
                threshold: 0.2 // 80% de la sección visible
            });
            observer2.observe(section2);

            // Animación para la sección cuando esté al 80% visible
            const section3 = document.querySelector('.animate3');
            const sectionImages3 = section3.querySelectorAll('.image');

            const observer3 = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                  if (entry.isIntersecting) {
                    sectionImages3.forEach(image => image.classList.add('active'));
                  }
                });
            }, {
                threshold: 0.2 // 80% de la sección visible
            });
            observer3.observe(section3);
        });

        
//
    //    // animaciones header
    //    document.addEventListener("DOMContentLoaded", function() {
    //        const images = document.querySelectorAll('.image');
    //        let currentIndex = 0;
//
    //    function showNextImage() {
    //      // Solo agregamos la clase 'active' a la imagen actual
    //      images[currentIndex].classList.add('active');
    //      // Actualizamos el índice para la siguiente imagen
    //      currentIndex = (currentIndex + 1) % images.length;
    //    }
//
    //    // Configuración del Intersection Observer
    //    const observerOptions = {
    //      root: null,  // El viewport es el elemento raíz
    //      threshold: 0.2  // Cuándo activar la animación (10% visible)
    //    };
//
    //    const observer = new IntersectionObserver((entries) => {
    //      entries.forEach(entry => {
    //        if (entry.isIntersecting) {
    //          // Si la imagen está en el viewport, se le añade la clase "active"
    //          entry.target.classList.add("active");
    //          // Mostrar la siguiente imagen
    //          //showNextImage();
    //        //} else {
    //        //  // Si la imagen sale del viewport, opcionalmente remueve la clase
    //        //  entry.target.classList.remove("active");
    //        }
    //      });
    //    }, observerOptions);
//
    //    // Seleccionar todas las imágenes con la clase ".image"
    //    images.forEach(image => {
    //      observer.observe(image);
    //    });
//
    //    // Cambiar imagen cada 3 segundos
    //    //setInterval(showNextImage, 500);
    //});
    //
    </script>

{% endblock %}