{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row">
  <div class="col-sm-3 col-izquierda"></div>

  <div class="col-sm-9 col-central">
    <div class="item-page" itemscope itemtype="https://schema.org/Article">
      <meta itemprop="inLanguage" content="es-ES" />

      <div class="page-header">
        <h2 itemprop="headline">Ejes Temáticos</h2>
      </div>

      <div itemprop="articleBody">
        <p style="text-align: justify">
          <span style="font-size: 14pt"
            ><strong
              >Eje 1: Políticas, programas y estrategias en instituciones con
              carreras científico-tecnológicas relacionados con:&nbsp;</strong
            ></span
          >
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto">1.1. Ingreso</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >1.2. Permanencia para promover el egreso</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >1.3. Políticas y estrategias institucionales de accesibilidad,
            género, diversidad, etc.&nbsp;</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <em
            >En este eje se encuadran trabajos de investigación o experienciales
            tendientes a describir y compartir resultados de políticas,
            programas y estrategias tendientes a favorecer el ingreso y la
            permanencia en los estudios superiores.&nbsp;</em
          >
        </p>
        <p style="text-align: justify">
          <span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p>&nbsp;</p>
        <p style="text-align: justify">
          <span style="font-size: 14pt"
            ><strong
              >Eje 2: Acciones de articulación horizontal y vertical
              entre:&nbsp;</strong
            ></span
          >
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto">2.1. Escuela secundaria y universidad</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >2.2. Programas de ingreso y cursos básicos universitarios</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >2.3. Ciclo básico y ciclo superior universitario</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >2.4. Docencia, Investigación y Extensión en la formación
            científico-tecnológica</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <em
            >En este eje se encuadran trabajos de investigación o experienciales
            tendientes a describir y compartir acciones de articulación
            horizontal y vertical en las carreras como así también con otros
            niveles del sistema educativo. Todas ellas con la finalidad de
            aportar al ingreso y permanencia en los estudios
            superiores.&nbsp;&nbsp;</em
          >
        </p>
        <p style="text-align: justify"><em>&nbsp;</em></p>
        <p>
          &nbsp;<span style="font-size: 14pt"
            ><strong
              >Eje 3: Competencias a promover en el contexto de carreras
              científico-tecnológicas para:&nbsp;</strong
            ></span
          >
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >3.1. Ingreso / Acceso (básicas, transversales y específicas)</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto">3.2. Egreso (genéricas y específicas)</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >3.3. Resultados e indicadores de su implementación en diferentes
            contextos</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <em
            >En este eje se presentan trabajos de investigación o experienciales
            que aportan al desarrollo de competencias en carreras científico -
            tecnológicas. Se pueden incluir trabajos que den cuenta del
            seguimiento y evaluación de aprendizajes, indicadores,
            etc.&nbsp;&nbsp;</em
          >
        </p>
        <p style="text-align: justify"><em>&nbsp;</em></p>
        <p>
          &nbsp;<span style="font-size: 14pt"
            ><strong
              >Eje 4: Experiencias de modelos, sistemas y equipos de
              tutorías:&nbsp;</strong
            ></span
          >
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >4.1. Ingreso (cómo ser y hacerse estudiante universitario)</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >4.2. Experiencias para promover el egreso (dificultades y
            obstáculos de los estudiantes en sus trayectorias educativas)</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto">4.3 Acciones institucionales</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <em
            >En este eje se presentan trabajos de investigación o experienciales
            que den cuenta del acompañamiento en el ingreso y la permanencia a
            través de tutorías implementadas o en planificación de
            realizarlo.&nbsp;</em
          >
        </p>
        <p style="text-align: justify">
          <span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p>&nbsp;</p>
        <p style="text-align: justify">
          <span style="font-size: 14pt"
            ><strong
              >Eje 5: Prácticas de enseñanza para favorecer el ingreso y la
              permanencia.&nbsp;</strong
            ></span
          >
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >5.1. Aportes desde las didácticas específicas. Currículum.
            Evaluación</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >5.2. Estrategias de enseñanza en asignaturas de carreras
            científico-tecnológicas</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >5.3. Leer y escribir en carreras científico-tecnológicas. Las
            producciones de docentes y estudiantes.</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span data-contrast="auto"
            >5.4. Experiencias didácticas para la inclusión.</span
          ><span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <span
            data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559740":276}'
          ></span>
        </p>
        <p style="text-align: justify">
          <em
            >En este eje se incluyen propuestas que surgen de la investigación o
            de la experiencia áulica que apuntan a mejorar el aprendizaje en la
            especificidad de las carreras, atendiendo a las particularidades del
            ingreso y la permanencia.&nbsp;&nbsp;</em
          >
        </p>
        <p style="text-align: justify">
          <em
            >Las propuestas que incluyen la utilización o mediación de
            tecnologías digitales también se deben encuadrar en este eje.
            Algunos ejemplos podrían ser estrategias de hibridación, uso de la
            programación, la inteligencia artificial, etc.&nbsp;</em
          >
        </p>
        <p style="text-align: justify">
          <span data-ccp-props='{"201341983":0,"335559740":276}'></span>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
