{% extends 'base.html' %}{% load django_bootstrap5 %}{% load bootstrap_icons %}{% block content %}

<div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Listado de actividades</h1>
            </div>
            <div style='display: flex; justify-content: center; align-items: center;'>
                <div class="btn-group" role="group">
                    <a class="btn btn-primary btn-sm" style="height: 35px;" href="#" role="button" target="_blank">Inscribir</a>
                    <a class="btn btn-info btn-sm " style="height: 35px;" href="#" role="button">Enviar Entradas</a>
                    <form action="#" method="post" style="display: inline">
                        {% csrf_token %}<button class="btn btn-success btn-sm" style="height: 35px;" type="submit">Permitir Inscripciones</button>
                    </form>
                    <form action="#" method="post" style="display: flex; flex-direction: column; align-items: center;">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm" type="submit" style="height: 35px; width: 130px;">Actualizar cupo</button>
                        <input type='numer' name='nuevocupo' placeholder="{{actividad.aula.cupo}}" alt='0 es sin limite' style="height: 35px; width: 130px; margin-top: 2px;">
                    </form>
                </div>
            </div>

            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><input type="text" id="filterDocumentp" class="form-control" placeholder="Documento"></th>
                            <th><input type="text" id="filterApellido" class="form-control" placeholder="Apellido"></th>
                            <th><input type="text" id="filterNombre" class="form-control" placeholder="Nombre"></th>
                            <th><input type="text" id="filterCorreo" class="form-control" placeholder="Correo"></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Documento</th>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Dependencia</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="inscriptosTableBody">
                        {% for un_asistente in asistentes %}
                        <tr>
                            <td>{{ un_asistente.documento }}</td>
                            <td>{{ un_asistente.user.last_name.upper }}</td>
                            <td>{{ un_asistente.user.first_name.title }}</td>
                            <td>{{ un_asistente.user.email }}</td>
                            <td>{{ un_asistente.dependencia.nombre_corto.upper}}</td>
                            <td class="text-center">
                            <div class="btn-group" role="group">
                                {% comment %} <a class="btn btn-warning btn-sm" href="{% url 'ver_inscriptos' actividad.id %}" role="button">{% bs_icon 'eye' %}</a> {% endcomment %}
                                
                                <!--Ver detalles del inscripto-->
                                <a class="btn btn-info btn-sm" href="{% url 'admin_ver_asistente' pk=un_asistente.pk %}" role="button">{% bs_icon 'eye' %}</a>
                                
                                <!-- Editar inscripto-->
                                <a class="btn btn-warning btn-sm" href="" role="button">{% bs_icon 'pencil-square' %}</a>

                                <!-- Eliminar inscripcion a actividad-->
                                <form action="{% url 'admin_eliminar_inscripto_actividad' pk=un_asistente.pk actividad_id=actividad.pk %}" method="post" style="display: inline">
                                    {% csrf_token %}
                                    <button class="btn btn-danger btn-sm" type="submit">{% bs_icon 'trash3' %}</button>
                                </form>

                                <!-- Enviar entrada-->
                                <a class="btn btn-info btn-sm" href="{% url 'admin:core_actividad_change' actividad.id %}" role="button">{% bs_icon 'ticket' %}</a>

                                {% comment %} <form action="{% url 'admin:core_actividad_delete' actividad.id %}" method="post" style="display: inline">
                                    {% csrf_token %}
                                    <button class="btn btn-danger btn-sm" type="submit">{% bs_icon 'trash3' %}</button>
                                </form> {% endcomment %}
                            </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block content_js %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
            const inputs = document.querySelectorAll('input[id^="filter"]');
            const tableBody = document.getElementById('inscriptosTableBody');
            const rows = tableBody.getElementsByTagName('tr');

            inputs.forEach(input => {
                input.addEventListener('input', () => {
                    const filterValues = Array.from(inputs).map(input => input.value.toLowerCase());
                    
                    for (let i = 0; i < rows.length; i++) {
                        let shouldHide = false;
                        const cells = rows[i].getElementsByTagName('td');
                        
                        for (let j = 0; j < filterValues.length; j++) {
                            const cell = cells[j];
                            if (cell) {
                                const cellText = cell.textContent.toLowerCase();
                                if (!cellText.includes(filterValues[j])) {
                                    shouldHide = true;
                                    break;
                                }
                            }
                        }
                        
                        rows[i].style.display = shouldHide ? 'none' : '';
                    }
                });
            });
        });
</script>

{% endblock %}

