{% extends 'base.html' %} {% load django_bootstrap5 %} {% load bootstrap_icons %} {% block content %}

<div class="container">
  <div class="row">
  {% if actividades_inscritas %}
    <div class="card-group">
      {% for actividad in actividades_inscritas %}
      <div class="card" style="max-width: 340px">
        <!-- Contenedor para la imagen -->
        <div class="card-img-container">
          <img
            src="{{ actividad.portada.url }}"
            class="card-img-top"
            alt="{{ actividad.nombre }}"
          />
        </div>

        <div class="card-body">
          <!-- Título de la actividad -->
          <h4 class="card-title">{{ actividad.nombre }}</h5>
          <p><strong>Orador:</strong> {{ actividad.orador }}</br>
          <strong>{{ actividad.hora_inicio }} - {{ actividad.hora_final }}</strong></p>
          <!-- Descripción completa de la actividad -->
          <p class="card-text">{{ actividad.descripcion }}</p>

          <!-- Detalles de la actividad -->
          <p><strong>Aula:</strong> {{ actividad.aula.nombre }}</p>
          <!-- Botón de inscripción o desinscripción -->
          <!-- Usuario ya inscrito -->
          <form action="{% url 'actividad_desinscribirse' actividad.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Desinscribirse</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  {% elif actividades_no_inscritas %}
    <div class="card-group">
      {% for actividad in actividades_no_inscritas %}
      <div class="card" style="max-width: 340px">
        <!-- Contenedor para la imagen -->
        <div class="card-img-container">
          <img
            src="{{ actividad.portada.url }}"
            class="card-img-top"
            alt="{{ actividad.nombre }}"
          />
        </div>

        <div class="card-body">
          <!-- Título de la actividad -->
          <h4 class="card-title">{{ actividad.nombre }}</h5>
          <p><strong>Orador:</strong> {{ actividad.orador }}</br>
          <strong>{{ actividad.hora_inicio }} - {{ actividad.hora_final }}</strong></p>
          <!-- Descripción completa de la actividad -->
          <p class="card-text">{{ actividad.descripcion }}</p>

          <!-- Detalles de la actividad -->
          <p><strong>Aula:</strong> {{ actividad.aula.nombre }}</p>
          <!-- Botón de inscripción o desinscripción -->
                    <!-- Usuario no inscrito -->
          <form action="{% url 'actividad_inscribirse' actividad.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Inscribirse</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
