{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-10 col-sm-6 col-lg-6" style="background: #EEE; border-radius: 2%; padding: 2.5rem">
            <p>Hola {{ nombre }}:</p>
            <p>Esperamos que te encuentres bien.</p>
            <p>Nos complace informarte que tu inscripción al CNEISI 2024 ha sido realizada con éxito por el coordinador de {{ dependencia.title }}.</p>
            <p>Por favor, para poder asistir a las conferencias y charlas, no te olvides de inscribirte en las mismas en el siguiente enlace:</p>
            <ul>
                <li>Link: <a href="https://cneisi.frlp.utn.edu.ar{% url 'login' %}">https://cneisi.frlp.utn.edu.ar{% url 'login' %}</a></li>
                <ul>
                    <li>Usuario: {{ usuario }} (debería ser tu DNI)</li>
                    <li>Contraseña: En la página del login, selecciona "Olvidé mi contraseña" y sigue los pasos para generar una nueva.</li>
                </ul>
            </ul>
            <p>Dentro de la misma página podrás ver toda la información del Congreso y de las actividades.</p>
            <p>Saludos cordiales,</p>
            <p style="text-align: right">
                <strong>
                    CNEISI 2024 <br>
                    Regional La Plata - UTN <br>
                    cneisi@frlp.utn.edu.ar
                </strong>
            </p>
        </div>
    </div>
</div>
