@font-face {
    font-family: 'Planc-regular'; /* Nombre que le das a la fuente */
    src: url('../fonts/Planc_wfx/Planc-Regular.otf') format('opentype'); /* Ruta a la fuente */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Planc-bold'; /* Nombre que le das a la fuente */
    src: url('../fonts/Planc_wfx/Planc-Bold.otf') format('opentype'); /* Ruta a la fuente */
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Planc-regular', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Planc-bold', sans-serif;
    text-transform: uppercase;
    color: white;
}


.div_left_1 {
  background:
    url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%20%3Cpath%20d%3D%22M0%2C15%20L30%2C15%20M15%2C0%20L15%2C30%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%221%22%20opacity%3D%220.1%22/%3E%3C/svg%3E'),
    linear-gradient(to left, #000000,#131f27, #3495d6);
  background-size: 2.78%, auto, 100% auto;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: repeat;
}

.div_left_2 {
  background:
    url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%20%3Cpath%20d%3D%22M0%2C15%20L30%2C15%20M15%2C0%20L15%2C30%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%221%22%20opacity%3D%220.1%22/%3E%3C/svg%3E'),
    linear-gradient(to right, #ffffff,#3495d6, #3495d6);
  background-size: 2.78%, auto, 100% auto;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: repeat;
}

.div_left {
  background:
    url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%20%3Cpath%20d%3D%22M0%2C15%20L30%2C15%20M15%2C0%20L15%2C30%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%221%22%20opacity%3D%220.1%22/%3E%3C/svg%3E'),
    linear-gradient(to left, #314659, #3495d6);
  background-size: 2.78%, auto, 100% auto;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: repeat;
}

.sponsors {
  background: #63c1ff;
  background-size: cover;
  /*background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"> <path d="M0,0 L30,30 M30,0 L0,30" stroke="#fff" stroke-width="2"/></svg>');*/
  background-attachment: fixed;
  background-position: 0 0, 10px 10px;
  background-repeat: repeat;
}

.header-image-container {
  width: 100%;
  height: auto; /* Ocupa toda la altura de la ventana */
  overflow: hidden;
  position: relative;
  align-items: center;
}

.header-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
}

.image-container {
    position: relative;
    width: 100%; /* Ancho del div */
    height: auto; /* Alto del div */
    overflow: hidden;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transform: translateY(20%); /* Comienza con un desplazamiento hacia abajo */
    transition: transform 2s ease-out, opacity 2s ease-out;
}

.image-fecha {
    transform: translateY(-100%);
}

.image-impacto {
    transform: translateX(100%);
}

.image-slogan {
    transform: translateY(100%);
}

.image-logo {
    transform: translateX(-100%);
}

.image-titulo_sup {
    transform: translateX(-100%); /* Entrada desde arriba */
    transition-delay: 0;
    transition-duration: 1s;
}

.image-titulo_med {
    transform: translateX(-100%); /* Entrada desde la izquierda */
    transition-duration: 1s;
    transition-delay: 0.5s;
}

.image-titulo_inf { transform: translateX(-100%); transition-duration: 1s; transition-delay: 1s;}
.image-ejes_titulo { transform: translateY(100%); transition-delay: 0; transition-duration: 1s;}
.image-eje_linea {transform: translateY(100%); transition-delay: 0.3s; transition-duration: 1s;}
.image-eje_img {transform: translateY(100%); transition-delay: 0.7s; transition-duration: 1s;}
.image-eje_footer {transform: translateY(100%); transition-delay: 1s; transition-duration: 1s;}
.image-img_sup {transform: translateX(100%); transition-delay: 0.5s; transition-duration: 1s;}
.image-img_inf {transform: translateX(100%); transition-delay: 1s;transition-duration: 1s;}
.image-activi_1 { transform: translateX(100%); transition-delay: 0.0s; transition-duration: 1s;}
.image-activi_2 { transform: translateX(100%); transition-delay: 0.2s; transition-duration: 1s;}
.image-activi_3 { transform: translateX(100%); transition-delay: 0.4s; transition-duration: 1s;}
.image-activi_4 { transform: translateX(100%); transition-delay: 0.6s; transition-duration: 1s;}
.image-activi_5 { transform: translateX(100%); transition-delay: 0.8s; transition-duration: 1s;}
.image-activi_6 { transform: translateX(100%); transition-delay: 1.0s; transition-duration: 1s;}
.image-actividades { transform: translateY(-100%); transition-delay: 0s; transition-duration: 1s;}
.image-inf_img { transform: translateX(-100%); transition-delay: 0.1s; transition-duration: 1s;}
.image-sup_img { transform: translateX(-100%); transition-delay: 0.5s; transition-duration: 1s;}

.image-titulo { transform: translateX(-100%); transition-delay: 0s; transition-duration: 1s;}

.image-img_vie { transform: translateY(+100%); transition-delay: 0.1s; transition-duration: 1s;}
.image-num_vie { transform: translateY(+100%); transition-delay: 0.3s; transition-duration: 1s;}
.image-img_11  { transform: translateY(+100%); transition-delay: 0.5s; transition-duration: 1s;}
.image-img_12  { transform: translateY(+100%); transition-delay: 0.7s; transition-duration: 1s;}
.image-img_13  { transform: translateY(+100%); transition-delay: 0.9s; transition-duration: 1s;}
.image-img_14  { transform: translateY(+100%); transition-delay: 1.1s; transition-duration: 1s;}

.image-img_sab { transform: translatey(+100%); transition-delay: 0.5s; transition-duration: 1s;}
.image-num_sab { transform: translatey(+100%); transition-delay: 0.7s; transition-duration: 1s;}
.image-img_21  { transform: translatey(+100%); transition-delay: 0.9s; transition-duration: 1s;}
.image-img_22  { transform: translatey(+100%); transition-delay: 1.1s; transition-duration: 1s;}

.image-img_dom { transform: translateY(+100%); transition-delay: 0.3s; transition-duration: 1s;}
.image-num_dom { transform: translateY(+100%); transition-delay: 0.5s; transition-duration: 1s;}
.image-img_31  { transform: translateY(+100%); transition-delay: 0.7s; transition-duration: 1s;}
.image-img_32  { transform: translateY(+100%); transition-delay: 0.9s; transition-duration: 1s;}
.image-img_33  { transform: translateY(+100%); transition-delay: 1.1s; transition-duration: 1s;}

.image.active {
    transform: translateX(0) translateY(0);
    opacity: 1;
}