
{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container-fluid">
    <div class=" row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-10 col-sm-6 col-lg-6 col-xl-4" style="background: #EEE; border-radius: 2%; padding: 2.5rem">
            <h4 class="fw-bolder text-center">Reinicio de contraseña completado</h2>
                <div class="center-block, text-center">
                    <p>Su contraseña ha sido restablecida. Ya puede iniciar sesión.</p>
                    <a class="btn btn-primary" href="{% url 'login' %}" role="button">
                        Ingresar</a>
                </div>
        </div>
    </div>
</div>

{% endblock %}