
{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container-fluid">
    <div class=" row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-10 col-sm-6 col-lg-6 col-xl-4" style="background: #EEE; border-radius: 2%; padding: 2.5rem">
            <h4 class="fw-bolder text-center">Se ha enviado un email de reinicialización de contraseña</h2>
                <div class="center-block, text-center">
                    <p>Te hemos enviado por correo electrónico las instrucciones para establecer tu contraseña,
                        si existe una cuenta con la dirección de correo electrónico que has introducido. Debería
                        recibirlas en breve.</p>

                    <p>Si no las recibes, asegúrate de haber introducido la dirección con la que te registraste y
                        comprueba tu carpeta de correo no deseado.</p>
                    <a class="btn btn-primary" href="{% url 'home' %}" role="button">
                        Volver</a>
                </div>
        </div>
    </div>
</div>

{% endblock %}