
{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

{% if next %}
{% if user.is_authenticated %}
<p>Su cuenta no tiene acceso a esta página. Para continuar, inicie sesión con una cuenta que tenga acceso.</p>
{% else %}
<p>Inicie sesión para ver esta página.</p>
{% endif %}
{% endif %}

<div class="container-fluid">
    <div class=" row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-10 col-sm-6 col-lg-6 col-xl-4" style="background: #EEE; border-radius: 2%; padding: 2.5rem">
            <h2 class="fw-bolder text-center">Recuperar Contraseña</h2>
            <div class="center-block">
                <p>¿Ha olvidado su contraseña? Introduzca su correo electrónico en el siguiente formulario y le
                    enviaremos instrucciones para crear una nueva.</p>
                <form enctype="multipart/form-data" id="formulario" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form layout="floating" %}

                    {% bootstrap_button button_type="submit" content="Recuperar mi contraseña" %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}