{% autoescape off %}
Le enviamos este email porque Ud. ha solicitado que se reestablezca la contraseña para su cuenta de usuario en CNEISI 2024.

Por favor visite la página que se muestra a continuación y elija una nueva contraseña:
{% block reset_link %}
{{ protocol }}://cneisi.frlp.utn.edu.ar{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Su nombre de usuario en caso de que lo haya olvidado: {{ user.get_username }}

¡Gracias por usar nuestro sitio!

El equipo de CNEISI

{% endautoescape %}