{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container-fluid">
    <div class=" row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-10 col-sm-6 col-lg-6 col-xl-4" style="background: #EEE; border-radius: 2%; padding: 2.5rem">
            {% if validlink %}
            <div class="col-12">
                <h2 class="fw-bolder text-center">Restablecer Contraseña</h2>
                <div class="center-block">
                    <p>Por favor introduzca su nueva contraseña dos veces de manera que podamos verificar que la ha
                        escrito correctamente.</p>
                    <form enctype="multipart/form-data" id="formulario" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_new_password1" class="required form-label">Contraseña nueva:</label>
                            <input type="password" autocomplete="new-password" class="form-control" required
                                id="id_new_password1" name="new_password1" required>
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password2" class="required form-label">Confirmar contraseña:</label>
                            <input type="password" autocomplete="new-password" class="form-control"
                                id="id_new_password2" name="new_password2" required>
                        </div>
                        {% if form.errors %}
                        <p class="alert alert-danger" role="alert">Tus contraseñas no coinciden. Por favor, inténtelo de
                            nuevo.</p>
                        {% endif %}
                        <div class="mb-3 text-center">
                            {% bootstrap_button button_type="submit" content="Restablecer" %}
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
            <h1>Reinicio de contraseña fallido</h1>
            <p>El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite
                un nuevo restablecimiento de contraseña.
            </p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}